<% if !GAME.game_over?%>
	<% if GAME.winner == "Draw"%>
		Stalemate!
	 <% elsif GAME.winner == GAME.players[1] %>
	 You lost, the computer won with <%= GAME.winner.pick %>
	<% else %>
	You won with <%= GAME.winner.pick %> 
	<%end%>
<%end%>
<p>
<h2>You <%=GAME.players[0].score%> - <%=GAME.players[1].score%> Computer</h2>

<p>

<% image1 = "/images/#{GAME.players[0].pick}.jpg" %>
<% image2 = "/images/#{GAME.players[1].pick}.jpg" %>

<img src=url(<%=image1%>) class="left" width='30%'>
<img src=url(<%=image2%>) class="right" width='30%' style='filter:FlipH'>


